body {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  transition: all .5s ease-in-out;
}

.pt-100 {
  padding-top: 100px;
}

.multi-text-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.2);
}

div:has(>img) {
  overflow: hidden;
}