@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  font-family: "Noto Sans TC", sans-serif;
}

img,
svg {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.multi-text-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

a {
  text-decoration: none;
}